<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
<%- include('../layouts/head.ejs', { title: "404" }) %>

<body>
	<%- include('../layouts/navbar.ejs') %>

	<div class="jumbotron">
		<h1>Are you lost?</h1>
=======
<%- include('../layouts/head.ejs', { title: "404", css: ["global"] }) %>

<body>
	<%- include('../layouts/navbar.ejs') %>
	<div class="jumbotron">
		<h1>404 Error.</h1>
		<h1>Page not found!</h1>
>>>>>>> ef04a72d6539885062fca003e196c289cbd4bcb4
		<a href="/" class="cta" style="width: 100%;"><button style="width: inherit;">Go back to home
				page</button></a>
	</div>

	<%- include('../layouts/footer.ejs') %>
</body>

</html>