<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs', { title: "Home", css: ["global"] }) %>

<body>
	<%- include('../layouts/navbar.ejs') %>
	<div class="jumbotron">
		<h1>Popular videos of Swiss001</h1>
		<section class="grid">
			<% videos.forEach(video => { %>
			<div class="card">
				<figure><img src="<%- video.thumbnail %>" alt="<%- video.title %>" width="100%">
					<figcaption><%- video.title %></figcaption>
					<figcaption><%- video.releaseDate %> &lowast; <%- video.numViews %></figcaption>
				</figure>
				<div class="card-body">
					<a href="<%- video.url %>" target="__blank" class="cta" style="margin: 0 auto;"><button>Watch
							this
							video!</button></a>
				</div>
			</div>
			<% }) %>
		</section>
	</div>

	<%- include('../layouts/footer.ejs') %>
</body>

</html>